@charset "utf-8";

.col-lg-6.col-md-6.col-sm-10.col-xs-10 .embed-responsive.embed-responsive-16by9 .embed-responsive-item {
border-radius:10;
}
.col-lg-12 .jumbotron .text-center {
	font-size:2.6em
}
.carousel-indicators li{
background-color:#222222;
}
